#set($page_title ="Lista de promociones")

<div class="container">
<div class="row">
	<h1>Promociones</h1>
	#if( $promociones.empty )
		No hay promociones registradas.
	#else
    <table class="table table-sliced">
    	<tr>
    		<th>Promocion Id</th><th>Inicio de Promocion</th><th>Fin de Promocion</th><th>Descuento</th>
    	</tr>
    	#foreach($promocion in $promociones)
    		<tr>
                <td>$promocion.getId()</td>
    			<td><a href="${promocion.id}/details.html">$promocion.getFechaInicio()</a></td>
    			<td>$promocion.getFechaFin()</td>
    			<td>$promocion.getDescuento()</td>
    		</tr>
    	#end
    </table>
	#end
	<a href="./add.html" class="btn btn-primary">Registar Promocion</a>
</div>
</div>