#springBind("promocion.*")
#if ($status.errorMessages.empty)
	Se guardo la promocion sin problemas
#else
Se encontraron los siguientes errores:
<ol>
	#foreach($error in $status.errorMessages) <li>$error</li>#end
</ol>
#end